extends layout

block content
  .ui.three.column.stackable.grid
    for post in posts
      .column
        .ui.raised.segment
            a.ui.black.ribbon.label(href="#{post.category}")
              h4 #{post.category}
            img(src='/#{post.imagePath}',heigth="250px",width="325px")
            a(href="/posts/#{post._id}")
             h2 #{post.title}
            h6 published on #{moment(post.date).format("MM-DD-YYYY")}
            !{post.body.substring(0,100)} 
          

 

